<!DOCTYPE html>
<html lang="en">
<head>
	<title>Development of Software</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
	<script src="{{url_for('static', filename='js/tools.js')}}"></script>
</head>
<body>

<div class="header">
  <h1>Database editor</h1>
  <h1>Best software since 2020</h1>
</div>
<div class="topnav">
  <a href="/index">Home</a>
  <a href="/project">Project managment</a>
  <a href="#">Staff managment</a>
  <a href="#">Statistics</a>
</div>

<div class="content" id="content"{% block bodyargs %} {% endblock %}>
  {% block body %} {% endblock %}
</div>



<footer class = "footer">
  <p>&copy; 2020 Parusov Vladimir 3630102/90001</p>
</footer>

</body>
</html>
