{% extends 'base.html' %}

{% block body %}

<script src="{{url_for('static', filename='js/bugs.js')}}"></script>

<script>
  id = '{{ id }}';
  type = '{{ type }}';
  load_str = "/db_tools/profile_data&&&" + id + "|" + type;
  data = my_post_request(load_str);
  //document.getElementById("data_field").innerText = data;
  data = JSON.parse(data);
  headd = document.createElement("h1");
  if (type == "staff")
    headd.innerText = "Staff";
  else if (type == "project")
    headd.innerText = "Project";
  headd.innerText += " page";
  document.getElementById("content").appendChild(headd);

  //if (type == "staff" && id == 2) // Diana
  //{
  //  milos = document.createElement('img');
  //  milos.src = "https://24smi.org/public/media/celebrity/2020/03/17/ndyuq11dpxep-rikardo-milos.jpg";
  //  document.getElementById("content").appendChild(milos);
  //}
  fields = [];
  if (type == "staff")
    fields = ["Id", "Name", "Surname", "Email", "Position", "Is Fired"];
  else if (type == "project")
    fields = ["Id", "Name", "Time_start", "Time_end"];

  for (i = 0; i < fields.length; i++)
  {
    p = document.createElement("p");
    p.innerText = fields[i] + " : " + data["main"][0][i];
    document.getElementById("content").appendChild(p);
  }

  if (type == "project" && data["main"][0][3] != null)
  {
    p = document.createElement("p");
    bugs = JSON.parse(my_post_request("/db_tools/count_project_bugs_all&&&" + id))
    human_days = JSON.parse(my_post_request("/db_tools/count_project_workers&&&" + id)) *
      dateDiffInDays(Date.parse(data["main"][0][2]), Date.parse(data["main"][0][3]));
    p.innerText = "Quality :" + bugs + "/" + human_days;
    document.getElementById("content").appendChild(p);
  }
  if (type == "project" && data["main"][0][3] == null)
  {
    close_button = document.createElement("button");
    close_button.classList.add("styled-button");
    close_button.innerText = "Close Project";
    close_button.onclick = function(){
      bugs = JSON.parse(my_post_request("/db_tools/count_project_bugs&&&" + id));
      if (bugs == 0)
      {
        my_post_request("/db_tools/finish_project&&&" + id + "|" + id);
        alert("Done");
        document.location.reload();
        return;
      }
      really = confirm("Are you really want to close this project with " + bugs + " bugs?");
      if (really)
        alert("really????");
      else
        alert("Of course you joking");
    }
    document.getElementById("content").appendChild(close_button);
  }


  headd = document.createElement("h1");
  if (type == "staff")
    headd.innerText = "Projects";
  else if (type == "project")
    headd.innerText = "Staff";
  document.getElementById("content").appendChild(headd);

  if (type == "project")
    fields = ["", "", ""];
  else if (type == "staff")
    fields = ["", ""];

  list = document.createElement("ul");

  el = document.createElement("li");

  sel = document.createElement("select");
  sel.classList.add("my_input");
  sel.id = "add_select";
  sel.style = "width:auto;"

  data2 = [];
  if (type == "project")
    data2 = JSON.parse(my_post_request("/db_tools/show_min_staff"));
  else if (type == "staff")
    data2 = JSON.parse(my_post_request("/db_tools/show_min_projects"));

  for (i = 0; i < data2.length; i++)
  {
    opt = document.createElement("option");
    opt.value = data2[i][0];
    if (type == "project")
      opt.innerText = data2[i][1] + " " + data2[i][2];
    else
      opt.innerText = data2[i][1];
    sel.appendChild(opt);
  }

  el.appendChild(document.createElement("button"));
  el.lastChild.classList.add("plus-button");
  el.lastChild.innerText = "\u002B";
  el.lastChild.onclick = function()
  {
    to_add = document.getElementById("add_select").value;
    active_proj_counter = 0
    if (type == "staff")
      active_proj_counter = JSON.parse(my_post_request("/db_tools/count_worker_projects&&&" + id));
    else if (type == "project")
      active_proj_counter = JSON.parse(my_post_request("/db_tools/count_worker_projects&&&" + to_add));
    if (active_proj_counter > 1)
    {
      alert("This person have too many projects");
      return;
    }
    is_already_added = 0
    if (type == "staff")
      is_already_added = JSON.parse(my_post_request("/db_tools/count_worker_current_project&&&" + id + "|" + to_add));
    else if (type == "project")
      is_already_added = JSON.parse(my_post_request("/db_tools/count_worker_current_project&&&" + to_add + "|" + id));

    is_project_closed = 0;
    if (type == "staff")
      is_project_closed = JSON.parse(my_post_request("/db_tools/check_if_closed&&&" + to_add));
    else if (type == "project")
      is_project_closed = JSON.parse(my_post_request("/db_tools/check_if_closed&&&" + id));

    if (is_already_added != 0)
    {
      alert("This person already have this project");
      return;
    }

    if (is_project_closed != 0)
    {
      alert("This project already closed");
      return;
    }

    if (type == "staff")
      my_post_request("/db_tools/add_link&&&" + to_add + "|" + id);
    else if (type == "project")
      my_post_request("/db_tools/add_link&&&" + id + "|" + to_add);
    document.location.reload();
  };

  el.appendChild(sel);
  list.appendChild(el);

  for (i = 0; i < data["childs"].length; i++)
  {
    el = document.createElement("li");
    str0 = ""
    str1 = "";
    str2 = "";

    if (data["active"][i] == 0)
      str0 += "\u274C";
    else
      str0 = "\u2705"

    if (data["active"][i] != 0 && type =="project")
      str0 = "<button style='border:none;' id='button_" + data["childs"][i][3] + "'>\u2705</button>";
    for (j = 0; j < fields.length; j++)
    {
      if (type == "project" && j == fields.length - 1)
      {
        if (data["childs"][i][j] == 1)
          str2 += 'Fired';
        else
          str2 += 'Working';
      }
      else
        str1 += fields[j] + "" + data["childs"][i][j] + " ";
    }
    if (type == "staff")
      el.innerHTML = str0 + "<a href='/profile?id=" + data["childs"][i][2] + "&type=project'>" + str1 + "</a>" + str2;
    else if (type == "project")
      el.innerHTML = str0 + "<a href='/profile?id=" + data["childs"][i][3] + "&type=staff'>" + str1 + "</a>" + str2;

    if (data["active"][i] != 0)
      if (type == "project")
        el.children[0].onclick = function(){
          bugs = JSON.parse(my_post_request('/db_tools/count_project_worker_bugs&&&' + id + "|" + this.id.substr(7)));
          if (bugs != 0)
          {
            alert("He must fix " + bugs + " bugs first!!!");
            return;
          }
          alert("Now he don`t work on this project");
          my_post_request("/db_tools/remove_worker_from_project&&&" + id + "|" + this.id.substr(7));
          document.location.reload();
        }
    list.appendChild(el);
  }
  document.getElementById("content").appendChild(list);
  headd = document.createElement("h1");
  headd.innerText = "Bugs";
  document.getElementById("content").appendChild(headd);
  if (type == "project")
    document.getElementById("content").appendChild(loadAllbugs("/db_tools/show_proj_bugs&&&" + id));
  else
    document.getElementById("content").appendChild(loadAllbugs("/db_tools/show_worker_bugs&&&" + id + "|" + id + "|" + id));
</script>

{% endblock%}
