{% extends 'base.html' %}

{% block body %}
<script>
    var IsAll = false;
    function cli()
    {
    document.getElementById('Workers_table').remove();
    if (IsAll)
      loadAll('/db_tools/show_active_workers');
    else
      loadAll('/db_tools/show_all_workers');
    IsAll = !IsAll;
  }
</script>
<h1>Show All
<label class="switch">
  <input type="checkbox" onclick="cli()">
  <span class="slider"></span>
</label>
</h1>

<script src="{{url_for('static', filename='js/staff.js')}}"></script>
<script>
    loadAll("/db_tools/show_active_workers");
</script>

{% endblock%}
